{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- assign blog = blogs[section.settings.blog] -%}

<div class="blog-preview color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding">
    {%- unless section.settings.heading == blank -%}
      <div class="section-header text-center">
        <h2 class="section-header__title h1">
          {{ section.settings.heading }}
        </h2>
        {%- if section.settings.subheading != blank -%}
          <p class="section-header__subtitle">{{ section.settings.subheading }}</p>
        {%- endif -%}
      </div>
    {%- endunless -%}

    {%- if blog != empty and blog.articles_count > 0 -%}
      <div class="blog-preview__grid grid grid--1-col grid--2-col-tablet grid--{{ section.settings.columns_desktop }}-col-desktop">
        {%- for article in blog.articles limit: section.settings.post_limit -%}
          <div class="blog-preview__item">
            <article class="blog-preview__article">
              {%- if section.settings.show_image and article.image != blank -%}
                <div class="blog-preview__image">
                  <a href="{{ article.url }}">
                    <img src="{{ article.image | image_url: width: 600 }}" 
                         alt="{{ article.image.alt | escape }}"
                         width="600" height="{{ 600 | divided_by: article.image.aspect_ratio | round }}"
                         loading="lazy">
                  </a>
                </div>
              {%- endif -%}

              <div class="blog-preview__content">
                {%- if section.settings.show_tags and article.tags.size > 0 -%}
                  <div class="blog-preview__tags">
                    {%- for tag in article.tags limit: 2 -%}
                      <span class="blog-preview__tag">{{ tag }}</span>
                    {%- endfor -%}
                  </div>
                {%- endif -%}

                <h3 class="blog-preview__title h4">
                  <a href="{{ article.url }}">{{ article.title }}</a>
                </h3>

                {%- if section.settings.show_excerpt -%}
                  <div class="blog-preview__excerpt">
                    {%- if article.excerpt.size > 0 -%}
                      <p>{{ article.excerpt | strip_html | truncate: 120 }}</p>
                    {%- else -%}
                      <p>{{ article.content | strip_html | truncate: 120 }}</p>
                    {%- endif -%}
                  </div>
                {%- endif -%}

                <div class="blog-preview__meta">
                  {%- if section.settings.show_date -%}
                    <span class="blog-preview__date">
                      {{ article.published_at | time_tag: format: 'abbreviated_date' }}
                    </span>
                  {%- endif -%}

                  {%- if section.settings.show_author and article.author != blank -%}
                    <span class="blog-preview__author">
                      {{ 'blogs.article.by_author' | t: author: article.author }}
                    </span>
                  {%- endif -%}
                </div>

                {%- if section.settings.show_read_more -%}
                  <div class="blog-preview__read-more">
                    <a href="{{ article.url }}" class="blog-preview__link">
                      {{ section.settings.read_more_text | default: 'Read More' }}
                      {% render 'icon', icon: 'arrow-right' %}
                    </a>
                  </div>
                {%- endif -%}
              </div>
            </article>
          </div>
        {%- endfor -%}
      </div>

      {%- if section.settings.show_view_all -%}
        <div class="blog-preview__view-all text-center">
          <a href="{{ blog.url }}" class="button button--secondary">
            {{ section.settings.view_all_text | default: 'View All Articles' }}
          </a>
        </div>
      {%- endif -%}
    {%- else -%}
      <div class="blog-preview__empty">
        <p>{{ 'blogs.general.no_articles' | t }}</p>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Blog Preview",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Latest Growing Tips"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Learn from our experts"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 12,
      "step": 1,
      "label": "Number of articles to show",
      "default": 3
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Number of columns on desktop",
      "default": 3
    },
    {
      "type": "header",
      "content": "Article display"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show featured image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show article tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show publish date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "label": "Show read more link",
      "default": true
    },
    {
      "type": "text",
      "id": "read_more_text",
      "label": "Read more text",
      "default": "Read More"
    },
    {
      "type": "header",
      "content": "View all button"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show view all button",
      "default": true
    },
    {
      "type": "text",
      "id": "view_all_text",
      "label": "View all text",
      "default": "View All Articles"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1",
      "options": [
        {"value": "accent-1", "label": "Accent 1"},
        {"value": "accent-2", "label": "Accent 2"},
        {"value": "background-1", "label": "Background 1"},
        {"value": "background-2", "label": "Background 2"},
        {"value": "inverse", "label": "Inverse"}
      ]
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Blog Preview"
    }
  ]
}
{% endschema %}